body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:788px;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1400px;
  height:788px;
}
#u1534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:185px;
  width:106px;
  height:29px;
}
#u1535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#8593A7;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:191px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#8593A7;
}
#u1536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:265px;
  width:1125px;
  height:229px;
}
#u1537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:237px;
  width:106px;
  height:21px;
}
#u1538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:240px;
  width:185px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u1539_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u1540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:47px;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:224px;
  width:502px;
  height:47px;
}
#u1540_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:287px;
  width:1084px;
  height:243px;
}
#u1541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:33px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:287px;
  width:1084px;
  height:33px;
}
#u1542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:295px;
  width:89px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:295px;
  width:120px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u1545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:330px;
  width:109px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:359px;
  width:147px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u1547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:388px;
  width:212px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u1548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:136px;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:330px;
  width:305px;
  height:136px;
}
#u1548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:2px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:454px;
  width:699px;
  height:1px;
}
#u1549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:497px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:415px;
  width:193px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:192px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:328px;
  width:341px;
  height:192px;
}
#u1552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:546px;
  width:199px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u1554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:47px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:224px;
  width:509px;
  height:47px;
}
#u1554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:188px;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:333px;
  width:339px;
  height:188px;
}
#u1555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:470px;
  width:162px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:470px;
  width:67px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:497px;
  width:67px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8593A7;
}
#u1558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:-216px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1559_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:601px;
  width:511px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  word-wrap:break-word;
}
#u1561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:224px;
  width:360px;
  height:47px;
}
#u1561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:235px;
  width:71px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1562_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:67px;
  word-wrap:break-word;
}
#u1563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:228px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1563_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:191px;
  width:10px;
  height:86px;
}
#u1564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:47px;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:224px;
  width:387px;
  height:47px;
}
#u1565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:228px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1566_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:239px;
  width:300px;
  height:18px;
}
#u1567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
  background:inherit;
  background-color:rgba(55, 168, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:476px;
  width:140px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:235px;
  width:59px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:768px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:120px;
  width:1400px;
  height:768px;
  opacity:0.8;
}
#u1570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:344px;
  width:417px;
  height:227px;
}
#u1571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:385px;
  width:368px;
  height:85px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  word-wrap:break-word;
}
#u1573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
  background:inherit;
  background-color:rgba(55, 168, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:518px;
  width:126px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:122px;
  word-wrap:break-word;
}
#u1574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(55, 168, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#37A8FF;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:518px;
  width:126px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#37A8FF;
}
#u1574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:122px;
  word-wrap:break-word;
}
#u1575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:597px;
  width:458px;
  height:207px;
}
#u1575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:617px;
  width:437px;
  height:125px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  white-space:nowrap;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:546px;
  width:0px;
  height:0px;
}
#u1577_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:159px;
}
#u1577_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:151px;
  width:50px;
  height:8px;
}
#u1577_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:144px;
  width:22px;
  height:22px;
}
#u1577_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:92px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
